<div class="tpl-root tpl-detail-zoom tpl-detail-zoom--portrait">
  <header class="tpl-detail-zoom__head">
    {{#eyebrow}}<span class="tpl-detail-zoom__eyebrow">{{eyebrow}}</span>{{/eyebrow}}
    {{#title}}<h2 class="tpl-detail-zoom__title">{{title}}</h2>{{/title}}
  </header>
  <div class="tpl-detail-zoom__scene">
    <img src="{{imageUrl}}" alt="{{imageAlt}}" class="tpl-detail-zoom__photo" crossorigin="anonymous" />
    {{#zoom}}<span class="tpl-detail-zoom__ring" style="left: {{focusX}}%; top: {{focusY}}%; width: {{focusW}}%; height: {{focusH}}%"></span>{{/zoom}}
  </div>
  <div class="tpl-detail-zoom__foot">
    {{#zoom}}
    <div class="tpl-detail-zoom__lens">
      <div class="tpl-detail-zoom__lensframe" style="transform-origin: {{focusX}}% {{focusY}}%; transform: translate(-{{focusX}}%, -{{focusY}}%) scale({{zoom}})">
        <img src="{{imageUrl}}" alt="" class="tpl-detail-zoom__photo" crossorigin="anonymous" />
      </div>
    </div>
    {{/zoom}}
    <p class="tpl-detail-zoom__caption">{{caption}}</p>
  </div>
</div>
